/* Background of main wrapper */
body {
	background-image: url(https://cdn.shopify.com/s/files/1/1446/2796/t/7/assets/black-ground.jpg?v=2708901460814994401);
	background-repeat: repeat;
	background-position: center center;
	background-color: black;
}

/* Main content */
main {
	background-color: #fff;
	border-radius: 3px;
	border-top: #8fca5b 10px solid;
	padding-top: 10px;
	margin-bottom: 25px;
}

/* Logo in main content */
img.logo {
	max-width: 300px;
	padding: 25px 0px 25px 0px;
}

/* TOS agreement box */
div.terms {
	background-color: rgba(0, 60, 255, 0.1);
	border: blue solid 1px;
	border-radius: 3px;
	padding: 15px;
}

/* Invalid input */
select:invalid,
input:invalid {
	box-shadow: 0 0 5px 1px red;
}

/* While invalid input is being amended */
select:focus:invalid,
input:focus:invalid {
	box-shadow: none;
}

/* Trade form in main content */
#tradeForm {
	display: none; /* Hide the form initially. If Javascript is enabled it will be shown. */
}

/* Trade item */
.tradeItem {
	margin: 3px;
	padding: 15px 0px 15px 0px;
	border: #888888 solid 1px;
	border-radius: 3px;
}

/* Item header */
.itemHeader {
	cursor: pointer; /* Let the user know they can click on a item header */
}
.itemHeader::after {
	color: #6c757d !important;
	font-size: x-small;
	content: " (collapse)";
}
.collapsed::after {
	color: #6c757d !important;
	font-size: x-small;
	content: " (expand)";
}
